<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body: { color: black; }
    </style>
  </head>
  <body>
    <div>
      <div style="padding: 30px">
        {{!-- {{>header}} --}}
        <p
          style="font-family: Verdana"
        >下記の内容でお問い合わせがありました。</p>
        <br />
        {{> formdata}}
        <br />
      </div>
      {{!-- {{>footer}} --}}
    </div>
  </body>
</html>
