<table
  border="0"
  cellspacing="0"
  cellpadding="0"
  style="border:1px solid #ccc;"
>
  <tr>
    <th style="padding: 2px 5px; border:1px solid #ccc;">フィールド</th>
    <th style="padding: 2px 5px; border:1px solid #ccc;">値</th>
  </tr>
  {{#each formData}}
    <tr>
      <td style="padding: 2px 5px; border:1px solid #ccc;">{{name}}</td>
      <td style="padding: 2px 5px; border:1px solid #ccc;">{{value}}</td>
    </tr>
  {{/each}}
</table>